# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
xcshareddata/
DerivedData/
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.xcodeproj/*
!*.xcodeproj/project.pbxproj

# Swift Package Manager
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/.env

# App specific
*.swp
*~.nib

# OS X
.DS_Store
.AppleDouble
.LSOverride
